<div class="sidenav">
    <div class="sidenav__header flex flex--a-center">
        <img src="/assets/illustrations/lines.svg" alt="logo">
        <p>Student Attendance Monitor</p>
    </div>
    <nav class="sidenav__nav">
        <ul class="sidenav__nav__ul">
            <li class="sidenav__nav__ul__title">Navigation</li>
            <a href="/a/modules" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#document"></use>
                </svg>
                <p>Modules</p>
            </a>
            <a href="/a/lecturers" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#users"></use>
                </svg>
                <p>Lecturers</p>
            </a>
            <a href="/a/students" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#users"></use>
                </svg>
                <p>Students</p>
            </a>
            <a href="/a/attendances" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#document"></use>
                </svg>
                <p>Attendances</p>
            </a>
            <li class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#sign-out"></use>
                </svg>
                <p>Sign out</p>
            </li>
        </ul>
    </nav>
</div>