<div class="sidenav">
    <div class="sidenav__header flex flex--a-center">
        <img src="/assets/illustrations/lines.svg" alt="logo">
        <p>Student Attendance Monitor</p>
    </div>
    <nav class="sidenav__nav">
        <ul class="sidenav__nav__ul">
            <li class="sidenav__nav__ul__title">Navigation</li>
            <a href="/s/attendance-trackers" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#document"></use>
                </svg>
                <p>Attendance trackers</p>
            </a>
            <a href="/s/sign-out" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#sign-out"></use>
                </svg>
                <p>Sign out</p>
            </a>
        </ul>
    </nav>
</div>