<div class="container">
    <%- include('../partials/sidenav/lecturer') %>
    <div class="container__main">
        <%- include('../partials/header/lecturer') %>

        <div class="container__main__title">
            <h1>Attendance stats</h1>
            <p>Keep track of your attendance stats</p>
        </div>

        <div class="container__main__focus">
            <div class="reports" style="margin-bottom: 2rem;">
                <p id="download-csv">Download CSV Report</p>
            </div>

            <div class="card table" id="stats-table-container">
                <div class="table__header">
                    <ul class="table__header__row flex">
                        <li class="table__header__row__item">#</li>
                        <li class="table__header__row__item">Student name</li>
                        <li class="table__header__row__item">Module name</li>
                        <li class="table__header__row__item">Module code</li>
                        <li class="table__header__row__item">All classes</li>
                        <li class="table__header__row__item">Attended classes</li>
                        <li class="table__header__row__item">Attended classes (%)</li>
                    </ul>
                </div>
                <div class="table__body" id="stats-list">
                    <ul class="table__body__row"></ul>
                </div>
                <div class="card__body empty flex flex--a-center flex--j-center" id="no-stats" style="display: none;">
                    <img src="/assets/illustrations/no-data.svg" alt="No data">
                    <div class="empty_caption">
                        <h1>Stats not found</h1>
                        <p>No stats to report</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a download id="download-anchor"></a>

<script src="/assets/js/dist/jquery.js"></script>

<script type="module">
    import Register from "/assets/js/src/auth/Register.js"

    $(() => {
        Register.get_students_stats_module();
    })

    $('#download-csv').on('click', e => {
        Register.downloadReportCSV();
    })
</script>