<div class="login">
    <div class="login__main">
        <div class="login__main__logo flex flex--a-center">
            <img src="/assets/illustrations/lines.svg" alt="logo">
            <p>Student Attendance Monitor</p>
        </div>
        <div class="login__main__form flex">
            <form class="login__main__form__details">
                <div class="login__main__form__details__header">
                    <h1>Sign in</h1>
                    <p>Administration</p>
                </div>
                <div class="login__main__form__details__body">
                    <p id="sign-in-error" class="hide" style="margin-bottom: 1rem; color: darkred;">Error: something went wrong</p>

                    <div class="input">
                        <input type="text" id="" placeholder="Email address">
                    </div>
                    <div class="input">
                        <input type="text" id="" placeholder="Password">
                    </div>
                    <button class="btn btn--primary">Sign in</button>
                </div>
                <div class="login__main__form__details__footer flex flex--j-space-around">
                    <p><a href="">Sign up</a></p>
                    <p><a href="">Terms of use</a></p>
                    <p><a href="">Privacy policy</a></p>
                </div>
            </form>
            <div class="login__main__form__illustration">
                <img  src="/assets/illustrations/team.svg" alt="team">
            </div>
        </div>
    </div>
</div>