<div class="container">
    <%- include('../partials/sidenav/admin') %>
    <div class="container__main">
        <%- include('../partials/header/admin') %>

        <div class="container__main__title">
            <h1>Student</h1>
            <p>Manage students and their associated modules</p>
        </div>
        <div class="container__main__focus">
            <div class="card table">
                <div class="table__header">
                    <ul class="table__header__row flex">
                        <li class="table__header__row__item">#</li>
                        <li class="table__header__row__item">Last name</li>
                        <li class="table__header__row__item">Initials</li>
                        <li class="table__header__row__item">Student number</li>
                        <li class="table__header__row__item">Added on</li>
                        <li class="table__header__row__item">...</li>
                    </ul>
                </div>
                <div class="table__body" id="student-list">
                    <ul class="table__body__row"></ul>
                </div>
                <div class="card__body empty flex flex--a-center flex--j-center" id="no-students"
                    style="display: none;">
                    <img src="/assets/illustrations/no-data.svg" alt="No data">
                    <div class="empty_caption">
                        <h1>Students not found</h1>
                        <p>There aren't any students at the moment.</p>
                        <p>Students will appear here when available.</p>
                    </div>
                </div>
            </div>

            <button class="open-student-modal btn btn--primary" style="margin-top: 3rem;">Add new student</button>
        </div>
    </div>
</div>

<div class="modal modal--closed" id="student-modal">
    <form class="modal__main card" id="student-form">
        <div class="card__header card__header--no-border flex flex--a-center flex--j-space-between">
            <div class="card__header__left">
                <h1>New student</h1>
                <p>Add new student</p>
            </div>
            <svg class="image--icon close-student-modal">
                <use href="#cross"></use>
            </svg>
        </div>
        <div class="card__body">
            <p id="new-student-error" class="hide" style="margin-bottom: 1rem; color: darkred;">Error: something went wrong</p>

            <div class="twin-inputs flex flex--j-space-between">
                <div class="input">
                    <input type="text" id="student-lastname" placeholder="Last name">
                </div>
                <div class="input">
                    <input type="text" id="student-initials" placeholder="Initials">
                </div>
            </div>

            <div class="input" style="margin-top: 1.4rem;">
                <input type="text" id="student-no" placeholder="Student number">
            </div>

            <div id="module-selection-container" style="max-height: 18rem; overflow-y: auto;">
                <input type="text" id="module-count" value="1" hidden>
                <div class="input" id="module-item-1" style="margin-top: 1.4rem;">
                    <label for="module-1" id="module-1-label">Module: 1</label>
                    <div class="flex flex--a-center">
                        <select id="module-1" class="modules__item" style="flex: 1;">
                            <option value="select">Select</option>
                        </select>
                        <svg class="image--icon" style="margin-left: 1rem; fill: #b68c8c;" id="delete-item-1">
                            <use href="#cancel"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__footer">
            <button class="btn btn--primary">Add student</button>
            <button class="btn btn--primary" id="add-module" type="button">Add module</button>
            <button class="btn close-student-modal" type="button">Cancel</button>
        </div>
    </form>
</div>

<div class="modal modal--closed" id="student-update-modal">
    <form class="modal__main card" id="student-update-form">
        <div class="card__header card__header--no-border flex flex--a-center flex--j-space-between">
            <div class="card__header__left">
                <h1>Update student</h1>
                <p>Update student details</p>
            </div>
            <svg class="image--icon close-student-update-modal">
                <use href="#cross"></use>
            </svg>
        </div>
        <div class="card__body">
            <input type="text" id="student-update-id" hidden>
            <p id="update-student-error" class="hide" style="margin-bottom: 1rem; color: darkred;">Error: something went wrong</p>

            <div class="twin-inputs flex flex--j-space-between">
                <div class="input">
                    <input type="text" id="student-update-lastname" placeholder="Last name">
                </div>
                <div class="input">
                    <input type="text" id="student-update-initials" placeholder="Initials">
                </div>
            </div>
        </div>
        <div class="card__footer">
            <button class="btn btn--primary">Update student</button>
            <button class="btn close-student-update-modal" type="button">Cancel</button>
        </div>
    </form>
</div>

<script src="/assets/js/dist/jquery.js"></script>

<script type="module">
    import { openModal, closeModal } from "/assets/js/src/helpers/modal.js"
    import { createModuleItem, removeModuleItem } from "/assets/js/src/helpers/module-selection.js"
    import Student from "/assets/js/src/auth/Student.js"
    import Module from "/assets/js/src/auth/Module.js"

    $('.open-student-modal').on('click', e => openModal('student'));

    $('.close-student-modal').on('click', e => closeModal('student'));

    $('#add-module').on('click', e => createModuleItem());

    $('#delete-item-1').on('click', e => removeModuleItem(1))

    $('#student-form').on('submit', e => {
        e.preventDefault();

        Student.add()
    });

    $('.close-student-update-modal').on('click', e => closeModal('student-update'));

    $('#student-update-form').on('submit', e => {
        e.preventDefault();

        Student.update()
    });

    $(() => {
        Module.load_modules();

        Student.fetch_all();
    })
</script>