<header class="main flex flex--a-center flex--j-space-between">
    <div class="main__left">
        <h4>Administrator</h4>
    </div>
    <div class="main__user">
        <p><%= admin_info.firstname + ' ' + admin_info.lastname %></p>
    </div>
</header>