<header class="main flex flex--a-center flex--j-space-between">
    <div class="main__left">
        <h4>Lecturer</h4>
    </div>
    <div class="main__user">
        <p><%= lecturer_info.lastname + ' ' + lecturer_info.initials %></p>
    </div>
</header>