<header class="main flex flex--a-center flex--j-space-between">
    <div class="main__left flex flex--a-center">
        <h4 style="margin-right: 2rem;">Student</h4>
        <svg class="image--icon hide">
            <use href="#menu"></use>
        </svg>
    </div>
    <div class="main__user">
        <p><%= student_info.lastname + ' ' + student_info.initials %></p>
    </div>
</header>